.row {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: 100%;
  padding: 0 var(--spacing-3) var(--spacing-6) var(--spacing-3);
  box-sizing: border-box;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: var(--radius-full);
  flex-shrink: 0;
  overflow: hidden;
}

.avatar img {
  width: 20px;
  height: 20px;
}

.content {
  width: 100%;
  min-width: 0;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  color: var(--rd-sys-color-content-secondary);
  line-height: var(--line-height-sm);
  letter-spacing: -0.072px;
  font-family: var(--font-family-primary);
}
